@import "tailwindcss";

:root {
  --foreground-rgb: 18, 18, 18;
  --foreground-dim-rgb: 70, 70, 70;
  --background-rgb: 255, 255, 255;
  --background-alt-rgb: 255, 255, 255;
  --highlight-rgb: 240, 240, 240;

  --transition-time: 0.167s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 230, 230, 230;
    --foreground-dim-rgb: 215, 215, 215;
    --background-rgb: 18, 18, 18;
    --background-alt-rgb: 27, 27, 27;
    --highlight-rgb: 135, 135, 135;
  }
}

@theme {
  --color-foreground: rgb(var(--foreground-rgb));
  --color-foreground-dim: rgb(var(--foreground-dim-rgb));
  --color-background: rgb(var(--background-rgb));
  --color-background-alt: rgba(var(--background-alt-rgb), 0.1);
  --color-highlight: rgb(var(--highlight-rgb));
  --color-text: var(--color-foreground);
  --color-text-dim: var(--color-foreground-dim);
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  transition: color var(--transition-time), background var(--transition-time);
  overflow: hidden;
}

::selection {
  background: rgb(var(--highlight-rgb));
  color: rgb(var(--foreground-dim-rgb));
}

@layer utilities {
  .horizontal-mask {
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      rgb(var(--background-alt-rgb)) 20%,
      rgb(var(--background-alt-rgb)) 80%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to right,
      transparent,
      rgb(var(--background-alt-rgb)) 20%,
      rgb(var(--background-alt-rgb)) 80%,
      transparent 100%
    );
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .vertical-mask {
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-alt-rgb)) 20%,
      rgb(var(--background-alt-rgb)) 80%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-alt-rgb)) 20%,
      rgb(var(--background-alt-rgb)) 80%,
      transparent 100%
    );
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .bg-blur {
    background: rgba(var(--background-rgb), 0.16);
    backdrop-filter: blur(66px);
  }
  .noise {
    background-size: cover;
    background-position: center;
    background-image: url("../../public/images/noise.svg");
  }
  .text-balance {
    text-wrap: balance;
  }
  .rotate {
    animation: rotate 6s linear infinite;
  }
  .min-h-full-dynamic {
    min-height: 100vh;
  }
  @supports (height: 100dvh) {
    .min-h-full-dynamic {
      min-height: 100dvh;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
