@import "tailwindcss";

:root {
  --foreground-rgb: 18, 18, 18;
  --foreground-dim-rgb: 70, 70, 70;
  --background-rgb: 255, 255, 255;
  --background-alt-rgb: 255, 255, 255;
  --transition-time: 0.167s;
  --highlight-rgb: 240, 240, 240;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 230, 230, 230;
    --foreground-dim-rgb: 180, 180, 180;
    --background-rgb: 18, 18, 18;
    --background-alt-rgb: 27, 27, 27;
    --highlight-rgb: 33, 33, 33;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  transition: color var(--transition-time), background var(--transition-time);
}

::selection {
  background: rgb(var(--highlight-rgb));
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .rotate {
    animation: rotate 6s linear infinite;
  }
  .min-h-full-dynamic {
    min-height: 100vh;
  }
  @supports (height: 100dvh) {
    .min-h-full-dynamic {
      min-height: 100dvh;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
